/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
 @forward 'vuetify/settings' with (
   /*$utilities: false,*/
   /*$color-pack: false,*/
   $field-font-size: 15px,
    $field-border-radius: 8px,
    $field-focused-border-width: 1px,
    $button-border-radius: 8px
 );
